@import '../_sass/config/vars';
@import '../_sass/basics/reset';

body {
	width: 185px;
	font-family: system, 'Segoe UI', Tahoma;
}
ul {
	list-style-type: none;
	font-size: 12px;
	padding: 5px 0;
}
li {
	padding: 3px 10px;
}
li:hover {
	background: transparentize($color-bg--turquoise, .9);
}
.partingline {
  height: 1px;
  padding: 0;
  background: $color-border--light;
  margin: 5px 0;
}
.partingline:hover {
  background: $color-border--light;
}
