* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  padding-top: 10px;
  color: #777;
}
section {
  margin-bottom: 5px;
  padding: 10px 20px 30px;
  border-bottom: 1px solid #e3e3e3;
}
section:last-child {
  border: 0;
}
h2 {
  font-size: 110%;
  margin: 0 0 25px;
  font-weight: normal;
}
h2 small {
  font-size: 12px;
}
input {
  vertical-align: middle;
  padding: 0;
}
label {
  float: left;
}
button {
  border: 1px solid #c8c8c8;
  transition: background 0.5s;
  float: right;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center, 0 0;
  opacity: 0.75;
}
button:hover {
  opacity: 1;
}
button:last-child {
  margin: 0;
}
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
.none {
  display: none;
}
.marker {
  margin-bottom: 8px;
}
.marker__apply {
  background-image: url(../icons/highlight.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
  margin: 5px 3px 0 0;
}
.marker__apply:hover {
  opacity: 1;
}
.marker__label {
  width: 52px;
  display: inline-block;
}
.switch {
  margin-bottom: 18px;
  float: right;
  border-radius: 2px;
  box-shadow: 0 0 2px #aaa inset;
  width: 44px;
  height: 22px;
  padding: 2px;
  cursor: pointer;
}
.switch:hover {
  box-shadow: 0 0 2px #777 inset;
}
.switch.active {
  box-shadow: 0 0 2px #777 inset;
}
.switch.active:hover {
  box-shadow: 0 0 3px #555 inset;
}
.switch-indicator {
  border-radius: 2px;
  width: 18px;
  height: 18px;
  background-color: rgb(210, 210, 210);
  background-image: url(../icons/save2.png);
  background-size: 67%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 22px;
  transition: margin 0.1s;
}
.switch span {
  padding: 0 4px;
}
.switch .autosave {
  display: none;
}
.switch.active .switch-indicator {
  background-color: rgba(43, 165, 183, 0.75);
  margin-left: 0;
}
.switch.active:hover .switch-indicator {
  background-color: #2ba5b7;
}
.link {
  cursor: pointer;
}
[disabled], .disabled {
  opacity: 0.2 !important;
  cursor: default;
}
.action-box {
  margin: 0 0 6px 0;
}
#mark-action--delete-highlight {
  background-image: url(../icons/bin.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#mark-action--bookmark {
  background-image: url(../icons/bm3.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#mark-action--delete-bookmark {
  background-image: url(../icons/del-bm.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#mark-action--add-note {
  background-image: url(../icons/note2.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#page-action--save {
  background-image: url(../icons/save.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#page-action--undo {
  background-image: url(../icons/undo.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#page-action--redo {
  background-image: url(../icons/redo.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#page-action--scroll {
  background-image: url(../icons/to-bm.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
#page-action--notes {
  background-image: url(../icons/note2.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
