tm {display: inline !important;}
span.textmarker-highlight {
  all: inherit;
  display: inline !important;
  position: static !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0;
  outline: 0 !important;
  float: none !important;
  cursor: pointer;

  &--active {
    border-top: 4px groove #2ba5b7 !important;
    border-bottom: 4px groove #2ba5b7 !important;
  }
}

#textmarker-bookmark-anchor {
  padding-left: 15px !important;
  @include icon('bm2', -2px 0);
}
