$colors:
  (green, #dfd, #efe, #cfc),
  (white, #eee, #fff, #eee),
  (yellow, #ffd, #ffe, #ffc),
  (orange, #fec, #fed, #feb),
  (red, #fdd, #fee, #fcc),
  (purple, #edf, #eef, #ecf),
  (blue, #cef, #def, #bef),
  (turquoise, #c1e9f2, #d5f0f7, #b9e4ec);

@each $name, $val, $val2, $val3 in $colors {
  .tmnote--#{$name} {
    tmnotepalette,
    tmnoteheader {
      background: $val3;
    }
    tmnotedelete,
    tmnoteminimize,
    tmnotecustomize {
      background: $val2;
      &:hover {
        background: $val;
      }
    }
    textarea {
      background-image: linear-gradient($val2, $val) !important;
    }
  }
  .tmnotecolor--#{$name} {
    border-color: $val;
    background-image: linear-gradient($val2, $val);
  }
}

tmnote {
  display: none;
  position: absolute;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: $color-grey--dark;
  line-height: 1.4;
  margin: 0;
  z-index: $layer--max;
  box-sizing: border-box !important;

  .tmnotes--0_8 & {
    opacity: 0.8;
  }
  &:hover {
    opacity: 1 !important;
  }
}
tmnoteheader {
  height: 22px;
  position: relative;
  z-index: 1;
  display: block;
  cursor: move;
}
tmnotepalette {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 4px 0 6px;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid $color-border--light;
}
tmnotecolor {
  width: 22px;
  height: 14px;
  position: relative;
  display: inline-block;
  margin: 0 7px;
  border-top: 2px solid;
  cursor: pointer;
  box-shadow: 0 1px 3px $color-shadow--lighter;
  &:hover {
    top: -1px;
    box-shadow: 0 1px 3px $color-shadow--light;
    filter: brightness(1.02);
  }
}
tmnotedelete,
tmnoteminimize,
tmnotecustomize {
  position: absolute;
  display: block;
  font-size: 14px;
  right: -20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  color: $color-text--disabled;
  line-height: 1;
  height: 20px;
  box-sizing: border-box !important;

  &:hover {
    color: $color-text--dark;
  }
}
tmnotedelete {
  top: 44px;
  font-size: 10px;
  font-weight: bold;
  padding: 5px 6px 0 10px;
}
tmnoteminimize {
  top: 66px;
  font-size: 18px;
  padding: 0px 4px 0 10px;
}
tmnotecustomize {
  top: 22px;
  font-size: 16px;
  padding: 1px 3px 2px 10px;
}
body > tmnote > textarea[data-tm-note] {
  display: block !important;
  padding: 10px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
  position: relative !important;
  width: 300px;
  font-family: Verdana, sans-serif !important;
  font-size: 12px !important;
  border: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}
