.news-box {
  border: 1px solid $color-border--light;
  padding: $spacing--small;
  margin-bottom: $spacing--small;
  overflow: hidden;
  max-height: 43px;
  transition: none;

  &.open {
    max-height: 1000px;
    transition: max-height 1s ease-in;
  }

  h3 {
    padding-right: $spacing--large;
    padding-bottom: $spacing--small;
    margin-bottom: $spacing--medium;
    border-bottom: 1px solid $color-border--light;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:after {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      right: 3px;
      top: 3px;
      @include icon('down');
      transform: rotate(90deg);
      opacity: .25;
    }
    &:hover {
      &:after {
        opacity: .5;
      }
    }
  }

  p {
    display: none;
  }
  &.open {
    h3 {
      white-space: unset;

      &:after {
        transform: none;
      }
    }

    p {
      display: block;
    }
  }

  small {
    display: block;
    margin-top: $spacing--tiny;
  }
}
