#troubleshooting {
  margin: 0 -20px;
  width: calc(100% + 40px);

  h2 {
    padding-left: $spacing--large;
    padding-right: $spacing--large;
  }

  article {
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
    padding: 0;
    clear: both;

    &.open {
      max-height: 2000px;
      padding: $spacing--large 0;

      &.trouble {
        padding: $spacing--large;
      }
    }

    &.answered--yes > .trouble__result--yes,
    &.answered--no > .trouble__result--no {
      max-height: 1000px;
      padding: $spacing--medium 0 0;

      &.trouble__result--final {
        padding: $spacing--large $spacing--tiny;
        border-top: 1px solid $color-border--light;
        margin-top: $spacing--medium;
      }
    }

    &.answered--yes > .trouble__answer .trouble__answer--yes,
    &.answered--no > .trouble__answer .trouble__answer--no {
      padding: 0;
      height: auto;
    }
    &.answered--no > .trouble__answer .trouble__answer--no {
      width: 100%;
    }

    &.answered--yes > .trouble__answer .trouble__answer--no,
    &.answered--no > .trouble__answer .trouble__answer--yes {
      width: 0;
      padding: 0;
      overflow: hidden;
      color: transparent;
    }
  }

  select {
    padding: 0 25px 0 20px;
    background-color: $color-bg--dark;
    background-size: 21px;
    background-position: calc(100% - 12px) 17px;
    width: 100%;
    height: 44px;
    border: 0;
    color: $color-grey--medium-light;
    font-size: $font-size--default;
    -moz-appearance: none;
    outline: 0;
    cursor: pointer;
  }
}

.trouble {
  position: relative;

  &__cancel {
    font-size: $font-size--l2;
    position: absolute;
    top: 0;
    right: $spacing--large;
    background: $color-bg--light !important;
    animation: none !important;
    border: 0;
    display: none;
    padding-right: 0;

    .answered & {
      display: block;
    }
  }

  &__question {
    padding: 0 $spacing--huge $spacing--large $spacing--tiny;

    .answered > & {
      padding-bottom: 0 !important;
      float: left;
      width: 80%;
      color: $color-text--grey;

      small {
        display: none;
      }

      a {
        color: inherit;
      }
    }
  }

  &__answer {
    button {
      position: relative;
      background: $color-bg--turquoise;
      color: $color-text--light;
      border: 0;
      width: calc(50% - 10px);
      height: 44px;
      transition: color .5s;
      font-size: $font-size--default;
      text-transform: uppercase;
      animation: none !important;

      small {
        color: inherit !important;
        position: absolute;
        top: 13px;
        left: 50%;
        transform: translateX(-50%);
        font-size: inherit;
        background: $color-bg--turquoise;
      }
    }

    &--yes {
      float: left;
    }

    &--no {
      float: right;
    }

    .answered > & {
      float: left;

      button {
        cursor: default;
        background: transparent;
        color: $color-text--turquoise;

        &.trouble__answer--no {
          color: $color-text--red;

          &:hover {
            color: $color-text--red !important;
          }
        }

        &:hover {
          background: transparent;
          color: $color-text--turquoise;
        }

        small {
          display: none;
        }
      }
    }
  }

  &__result--final {
    color: $color-text--turquoise;
    width: calc(80% + 40px);
  }
}
