@import '../../_shared/sass/vars';
@import '../../_shared/sass/icons';

@import './components/marks';
@import './components/notes';
@import './components/progress';
@import './components/tmui';
@import './components/marker-popup';
@import './components/copyshop';
