@import '../../_shared/sass/vars';
@import '../../_shared/sass/reset';
@import '../../_shared/sass/icons';

body {
	width: 200px;
	font-family: system, 'Segoe UI', Tahoma;
}
a {
  text-decoration: none;
}
ul {
	list-style-type: none;
	font-size: 12px;
	padding: 5px 0 8px;
}
li {
	padding: 5px 10px;

	&:hover {
		background: transparentize($color-bg--turquoise, .9);

		.menu__icon {
			opacity: 1;
		}
	}
}
.menu__icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  top: 3px;
  margin-right: 8px;
  opacity: .5;
}
.partingline {
  height: 1px;
  padding: 0;
  background: $color-border--light;
  margin: 5px 0;
}
.partingline:hover {
  background: $color-border--light;
}

$links: (
  'settings': 'tools',
  'history': 'clock',
  'help': 'book',
  'contact': 'ghost',
  'news': 'forklift',
  'sync': 'sync2',
  'export': 'export',
	'troubleshooting': 'debug',
  'logs': 'dna',
  'donate': 'donate',
  'github': 'github'
);

@each $link, $icon in $links {
  ##{$link} .menu__icon {
    @include icon(#{$icon});
  }
}
#activate {
  padding-left: 22px;
  color: #fff;

  &.menu__icon--start {
    @include icon('start');
  }

  &.menu__icon--pause {
    @include icon('pause');
  }
}

#donate, #github {
  float: right;
}

footer {
  background: $color-bg--turquoise;
  padding: 7px 6px 8px 12px;

  .menu__icon {
    opacity: .85;

    &:hover {
      opacity: 1;
    }
  }
}

#depricated {
  background: #3aad74;
  color: #fbfbfb;
  padding: 5px 8px 8px;
}
