@import '../../_shared/sass/vars';
@import '../../_shared/sass/reset';
@import '../../_shared/sass/icons';

body {
	width: 185px;
	font-family: system, 'Segoe UI', Tahoma;
}
ul {
	list-style-type: none;
	font-size: 12px;
	padding: 5px 0;
}
li {
	padding: 5px 10px;

	.menu__icon {
    position: relative;
		display: inline-block;
		width: 16px;
		height: 16px;
    top: 3px;
		margin-right: 8px;
		opacity: .5;
	}

	&:hover {
		background: transparentize($color-bg--turquoise, .9);

		.menu__icon {
			opacity: 1;
		}
	}
}
.partingline {
  height: 1px;
  padding: 0;
  background: $color-border--light;
  margin: 5px 0;
}
.partingline:hover {
  background: $color-border--light;
}

#news .menu__icon {
  @include icon('forklift');
}
#help .menu__icon {
  @include icon('book');
}
#settings .menu__icon {
  @include icon('tools');
}
#history .menu__icon {
  @include icon('clock');
}
#sync .menu__icon {
  @include icon('sync2');
}
#export .menu__icon {
  @include icon('export');
}
#contact .menu__icon {
  @include icon('ghost');
}
#logs .menu__icon {
  @include icon('dna');
}
