tm {display: inline !important;}
span.textmarker-highlight {
  all: inherit;
  display: inline !important;
  position: static !important;
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
  outline: 0 !important;
  float: none !important;
  cursor: pointer;
}
tmui {
  display: none;
  z-index: 2147483647;
  position: fixed;
  background: #fff;
  border: 1px solid #eee;
  padding-top: 3px;
  box-sizing: border-box !important;
}
tmui.active {
  display: block;
}
tmbm, tmnotestoggle {
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
  margin-right: 3px;
  vertical-align: top;
  width: 12px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.25));
}
tmbm {
  background: url("./../icons/bm.png") no-repeat center;
  height: 18px;
}
tmbm:hover {
  filter: brightness(1.15);
}
tmnotestoggle {
  background: url("./../icons/note.png") no-repeat center;
  height: 16px;
}
tmnotestoggle:hover {
  filter: brightness(1.15);
}
#textmarker-bookmark-anchor {
  padding-left: 15px !important;
  background: url("./../icons/bm2.png") no-repeat -2px 0;
}
.textLayer { opacity: 1; }
.textLayer ::-moz-selection { background: rgba(51,153,255,0.3) !important; }
.textLayer .selected { color: #fff; }
.textLayer tm {color:#000;}
tmbm.textmarker-bookmark-control {
  height: 24px;
  width: 30px;
  top: 37px;
  right: 17px;
  border: none;
  background-color: transparent;
}
tmbm.textmarker-bookmark-control:hover {
  background: hsla(0,0%,0%,.12) no-repeat;
  background-image: url("./../icons/bm.png"), linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,100%,0));
  background-position: center 5px, 0 0;
  border: 1px solid hsla(0,0%,0%,.35);
  border-color: hsla(0,0%,0%,.32) hsla(0,0%,0%,.38) hsla(0,0%,0%,.42);
  box-shadow: 0 1px 0 hsla(0,0%,100%,.05) inset, 0 0 1px hsla(0,0%,100%,.15) inset, 0 1px 0 hsla(0,0%,100%,.05);
}
tmnote {
  display: none;
  position: absolute;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  color: #444;
  line-height: 1.4;
  margin: 0;
  z-index: 2147483646;
  box-sizing: border-box !important;
}
tmnotedelete,
tmnoteminimize {
  position: absolute;
  display: block;
  font-size: 14px;
  background: #ffe;
  right: -20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  color: #888;
  line-height: 1;
  height: 20px;
  box-sizing: border-box !important;
}
tmnotedelete:hover,
tmnoteminimize:hover {
  color: #222;
  background: #ffc;
}
tmnotedelete {
  top: 2px;
  font-size: 12px;
  padding: 4px 6px 0 10px;
}
tmnoteminimize {
  top: 24px;
  padding: 0 6px 4px 10px;
}
body > tmnote > textarea[data-tm-note] {
  display: block !important;
  padding: 10px !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5) !important;
  position: relative !important;
  min-width: 300px !important;
  background-image: linear-gradient(#ffe, #ffd) !important;
  min-height: 100px !important;
  font-family: Verdana, sans-serif !important;
  font-size: 12px !important;
  border: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
}
