@import '../../_shared/sass/vars';
@import '../../_shared/sass/reset';
@import '../../_shared/sass/general';
@import '../../_shared/sass/links';
@import '../../_shared/sass/icons';

@import './general';
@import './tables';

@include links($color-text--turquoise);

#main {
  padding: 20px;
}
.table-toggle {
  @include icon('down', 0 center, 14px);
  width: 14px;
  height: 12px;
  display: inline-block;
  cursor: pointer;
  opacity: 0.25;
  margin-right: 8px;

  .folded & {
    transform: rotate(-90deg);
  }

  .disabled & {
    display: none;
  }
}
.count {
  color: $color-text--disabled;
}
