::-moz-placeholder,
:placeholder-shown {
  color: $color-text--disabled;
}
select, input {
  font-family: inherit !important;
}
select {
  @include icon('arrow-down', right 10px);
  background-color: transparent;
  -moz-appearance: none;
  height: 24px;
  color: $color-text--turquoise;
  float: left;
  padding-right: 15px;
  width: auto;
  border: 0;
  border-top: 1px solid $color-border--light;
}
input[type="text"] {
  border: 1px solid $color-border--light;
  color: inherit;
  padding: 0;
  height: 24px;
  width: calc(100% - 27px);
  padding: 0 4px;
}
