body {
  font-size: $font-size--base-small;
  color: $color-text--grey;
  font-family: inherit;
  padding: 0;
}
#header {
  margin-bottom: 15px;
}
h1 {
  width: 100%;
  font-size: 100%;
  font-weight: normal;
  margin: 0 0 10px;
  color: $color-text--turquoise;
}
h2 {
  font-size: 100%;
  margin: 0 0 8px;
  font-weight: normal;
  position: relative;
}
h3 {
  font-size: 80%;
  margin: 0 0 8px;
  color: $color-grey--medium;
  font-weight: normal;
  text-align: right;
}
label {
  float: left;
  padding-top: 2px;
  cursor: pointer;
}
svg {
  height: 0;
}
