body {
  font-size: $font-size--base-small;
  color: $color-text--grey;
  font-family: inherit;
  padding: 10px 15px 0;
}
#header {
  margin-bottom: 15px;
}
h1 {
  width: 100%;
  font-size: 120%;
  font-weight: normal;
  margin: 0 0 10px;
}
h2 {
  font-size: 100%;
  margin: 0 0 8px;
  font-weight: normal;
  position: relative;
}
label {
  float: left;
  padding-top: 2px;
  cursor: pointer;
}
svg {
  height: 0;
}
