body {
  font-size: $font-size--base-small;
  color: $color-text--grey;
  font-family: inherit;
}
section, header {
  margin-bottom: 5px;
  padding: 10px 15px 15px;
  border-bottom: 1px solid $color-border--light;
}
header {
  padding: 11px 15px;
}
section:last-child {
  border: 0;
}
h1 {
  width: 100%;
  font-size: 120%;
  font-weight: normal;
  margin: 0;
}
h2 {
  font-size: 100%;
  margin: 0 0 25px;
  font-weight: normal;
  position: relative;
}
.info-box {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  margin-right: 30px;

  &:hover {
    background: $color-bg--light;
  }
  .i {
    float: none;
  }
  &__content {
    display: none;
    font-size: 12px;
    line-height: 1.2;
    padding: 2px 2px 5px;
    margin-top: 5px;
    color: $color-text--turquoise;

    .info-box:hover & {
      display: block;
    }
  }
}
label {
  float: left;
  padding-top: 2px;
  cursor: pointer;
}
