@import '../../_shared/sass/vars';
@import '../../_shared/sass/general';
@import '../../_shared/sass/links';
@import '../../_shared/sass/helpers';
@import '../../_shared/sass/icons';
@import '../../_shared/sass/shadows';
@import '../../_shared/sass/switches';
@import '../../_shared/sass/notes';

@import './general';
@import './buttons';
@import './form-elements';

@import './components/tabs';
@import './components/tags';
@import './components/marks';
@import './components/marker';
@import './components/actions';
@import './components/page-notes';
@import './components/links';

@include links(inherit);

#textmarker-sidebar--paused {
  padding: 10px 20px;
  color: $color-text--red;
}
.textmarker-sidebar--locked {
  #header,
  #tab--meta,
  #tab--tags,
  #switch-box,
  #mark-action--delete-highlight,
  #mark-action--bookmark,
  #page-action--scroll,
  #page-action--undo,
  #page-action--redo {
    display: none !important;
  }
}
