html, body, object, iframe,
div, h1, h2, h3, h4, h5, h6, p,
span, a, abbr, img,
em, small, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: baseline;
  color: inherit; }

body {
  width: 185px;
  font-family: system, 'Segoe UI', Tahoma; }

ul {
  list-style-type: none;
  font-size: 12px;
  padding: 5px 0; }

li {
  padding: 3px 10px; }

li:hover {
  background: rgba(43, 165, 183, 0.1); }

.partingline {
  height: 1px;
  padding: 0;
  background: #e1e2e3;
  margin: 5px 0; }

.partingline:hover {
  background: #e1e2e3; }
