// colors
.u-color {
  &--default {
    color: $color-text--dark;
  }
  &--white {
    color: $color-text--light;
  }
  &--grey {
    color: $color-text--grey;
  }
  &--turquoise {
    color: $color-text--turquoise;
  }
  &--red {
    color: $color-text--red;
  }
}
// font-sizes
.u-size {
  &--s5 {
    font-size: $font-size--s5;
  }
  &--s4 {
    font-size: $font-size--s4;
  }
  &--s3 {
    font-size: $font-size--s3;
  }
  &--s2 {
    font-size: $font-size--s2;
  }
  &--s1 {
    font-size: $font-size--s1;
  }
  &--default {
    font-size: $font-size--default;
  }
  &--l1 {
    font-size: $font-size--l1;
  }
  &--l2 {
    font-size: $font-size--l2;
  }
  &--l3 {
    font-size: $font-size--l3;
  }
}

// spacing
// $spacing-properties: (
//   'p' : 'padding',
//   'm' : 'margin'
// );
//
// $spacing-directions: (
//   null : null,
//   't' : '-top',
//   'r' : '-right',
//   'b' : '-bottom',
//   'l' : '-left'
// );
//
// $spacing-sizes: (
//   '-0_25'     : $spacing--tiny,
//   '-0_5'      : $spacing--small,
//   null        : $spacing--medium,
//   '-2'        : $spacing--large,
//   '-0'        : 0
// );
//
// @each $property-short, $property in $spacing-properties {
//   @each $direction-short, $direction in $spacing-directions {
//     @each $size, $value in $spacing-sizes {
//       .u-#{$property-short}#{$direction-short}#{$size} {
//         #{$property}#{$direction}: $value !important;
//       }
//     }
//   }
// }

// positioning
.u-cf:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
.u-float {
  &--right {
    float: right;
  }
  &--left {
    float: left;
  }
}

// display
.u-display {
  &--none {
    display: none !important;
  }
  &--block {
    display: block !important;
  }
  &--inline {
    display: inline;
  }
  &--inline-block {
    display: inline-block;
  }
}

// media queries
@mixin mq($media-query) {

    @if $media-query == mobile {
        @media only screen and (max-width: $mq-mobile) { @content; }
    }
    @if $media-query == desk {
        @media only screen and (max-width: $mq-desk--small) { @content; }
    }
}
