@mixin shadow-switch($color) {
  box-shadow: 0 0 2px $color inset;
}

%shadow-switch {
  @include shadow-switch($color-shadow--light);
}
%shadow-switch--hover {
  @include shadow-switch($color-shadow--dark);
}
%shadow-switch--active {
  @include shadow-switch($color-shadow--medium);
}
