// colors
.u-color {
  &--default {
    color: $color-text--dark !important;
  }
  &--white {
    color: $color-text--light !important;
  }
  &--grey {
    color: $color-text--grey !important;
  }
  &--grey-light {
    color: $color-text--disabled !important;
  }
  &--turquoise {
    color: $color-text--turquoise !important;
  }
  &--red {
    color: $color-text--red !important;
  }
  &--green {
    color: $color-text--green !important;
  }
}
// font-sizes
.u-size {
  &--s5 {
    font-size: $font-size--s5;
  }
  &--s4 {
    font-size: $font-size--s4;
  }
  &--s3 {
    font-size: $font-size--s3;
  }
  &--s2 {
    font-size: $font-size--s2;
  }
  &--s1 {
    font-size: $font-size--s1;
  }
  &--default {
    font-size: $font-size--default;
  }
  &--l1 {
    font-size: $font-size--l1;
  }
  &--l2 {
    font-size: $font-size--l2;
  }
  &--l3 {
    font-size: $font-size--l3;
  }
}

// u-width
.u-width {
  &--auto {
    width: auto !important;
  }
}

// font-weight
.u-font-weight {
  &--normal {
    font-weight: normal;
  }
  &--bold {
    font-weight: bold;
  }
}

// spacing
$spacing-properties: (
  'p' : 'padding',
  'm' : 'margin'
);

$spacing-directions: (
  null : null,
  't' : '-top',
  'r' : '-right',
  'b' : '-bottom',
  'l' : '-left'
);

$spacing-sizes: (
  '-tiny'     : $spacing--tiny,
  '-small'    : $spacing--small,
  null        : $spacing--medium,
  '-large'    : $spacing--large,
  '-huge'     : $spacing--huge,
  '-0'        : 0
);

@each $property-short, $property in $spacing-properties {
  @each $direction-short, $direction in $spacing-directions {
    @each $size, $value in $spacing-sizes {
      .u-#{$property-short}#{$direction-short}#{$size} {
        #{$property}#{$direction}: $value !important;
      }
    }
  }
}

// positioning
.u-cf:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
.u-clear {
  clear: both;
}
.u-float {
  &--right {
    float: right;
  }
  &--left {
    float: left;
  }
  &--none {
    float: none !important;
  }
}
.u-pull {
  &--right {
    float: right;
    margin-right: 0 !important;
  }
  &--left {
    float: left;
    margin-left: 0 !important;
  }
}

// display
.u-display {
  &--none {
    display: none !important;
  }
  &--block {
    display: block !important;
  }
  &--inline {
    display: inline !important;
  }
  &--inline-block {
    display: inline-block !important;
  }
}

// overflow
.u-overflow {
  &--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// alignment
.u-align {
  &--top {
    vertical-align: top;
  }
  &--middle {
    vertical-align: middle;
  }
  &--bottom {
    vertical-align: bottom;
  }
  &--0 {
    vertical-align: 0 !important;
  }
}

// media queries
@mixin mq($media-query) {

    @if $media-query == mobile {
        @media only screen and (max-width: $mq-mobile) { @content; }
    }
    @if $media-query == desk {
        @media only screen and (max-width: $mq-desk--small) { @content; }
    }
}
