$colors:
  (green, #dfd, #efe, #cfc),
  (white, #eee, #fff, #eee),
  (yellow, #ffd, #ffe, #ffc),
  (orange, #fec, #fed, #feb),
  (red, #fdd, #fee, #fcc),
  (purple, #edf, #eef, #ecf),
  (blue, #cef, #def, #bef),
  (turquoise, #c1e9f2, #d5f0f7, #b9e4ec);

@each $name, $val, $val2, $val3 in $colors {
  .tmnote--#{$name} {
    tmnotepalette,
    tmnoteheader {
      background: $val3;
    }
    tmnotecustomize,
    tmnoteminimize,
    tmnotedelete {
      background: $val2;
      &:hover {
        background: $val;
      }
    }
    textarea {
      background-image: linear-gradient($val2, $val) !important;
    }
  }
  .tmnotecolor--#{$name} {
    border-color: $val;
    background-image: linear-gradient($val2, $val);
  }
}

tmnote {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.4;
}
tmnoteheader {
  height: 22px;
  position: relative;
  z-index: 1;
  display: block;
}
tmnotepalette {
  z-index: 1;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid $color-border--light;
}
tmnotecolor {
  position: relative;
  display: inline-block;
  border-top: 2px solid;
  cursor: pointer;
  box-shadow: 0 1px 3px $color-shadow--lighter;
  &:hover {
    top: -1px;
    box-shadow: 0 1px 3px $color-shadow--light;
    filter: brightness(1.02);
  }
}
tmnotecustomize,
tmnoteminimize,
tmnotedelete {
  font-size: 14px;
  cursor: pointer;
  color: $color-text--disabled;
  line-height: 1;
  height: 20px;

  &:hover {
    color: $color-text--dark;
  }
}
tmnotedelete {
  font-size: 10px;
  font-weight: bold;
}
tmnoteminimize {
  font-size: 18px;
}
tmnotecustomize {
  font-size: 16px;
}
.__note_textarea {
  display: block !important;
  position: relative !important;
  font-family: Verdana, sans-serif !important;
  font-size: 12px !important;
  min-height: 100px !important;
  border: 0 !important;
}
