html, body, object, iframe,
div, h1, h2, h3, h4, h5, h6, p,
span, a, abbr, img,
em, small, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: baseline;
  color: inherit;
}
