/*    RESET
===============================================*/
html, body, object, iframe,
div, h1, h2, h3, h4, h5, h6, p,
span, a, abbr, img,
em, small, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	line-height: normal;
	vertical-align: baseline;
  color: inherit;
}
/*
===============================================*/

/* GENERAL */
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
* {
  box-sizing: border-box;
}
body, html, body > div {
  height: 100%;
}
body {
	font-family: Verdana, Arial, sans-serif;
	color: rgb(55, 65, 75);
	cursor: default;
	background: rgb(55, 65, 75);
  font-size: 15px;
}
a {
  color: inherit;
  text-decoration: none;
}
p {
  margin-bottom: 1em;
}
h1 {
	font-size: 1em;
	font-weight: normal;
  text-align: right;
  margin: 0 -1px 15px 0;
  height: 38px;
}
h1 > span {
  display: block;
  font-size: 0.65em;
  color: #c8c8c8;
}
h1 a:hover {
  color: #2ba5b7;
}
h2 {
  font-weight: normal;
  padding: 0 0 27px;
  color: #2ba5b7;
}
h2 span {
  color: #c8c8c8;
  font-size: 0.7em;
  display: block;
  margin-top: 10px;
}
h3 {
  font-size: 1.15em;
  font-weight: normal;
  padding: 0 0 20px;
  color: #2ba5b7;
}
h4 {
  font-size: 1em;
  font-weight: normal;
  color: #2ba5b7;
  padding: 25px 0 15px;
}
ul,
li {
  list-style-type: none;
}
ol {
  margin: -5px 0 1em 0;
}
ol li {
  margin-top: 5px;
}
.unset li {
	list-style-type: unset;
	margin-left: 20px;
}
ol li strong.blue {
  font-family: Helvetica, Verdana, Arial, sans-serif;
}
/* FORM ELEMENTS */
::-moz-placeholder,
:placeholder-shown {
  color: #c8c8c8;
}
label {
  width: 224px;
  display: inline-block;
}
label span {
  display: inline-block;
  line-height: 1.2;
  height: 22px;
  width: 22px;
  text-align: center;
  color: #2ba5b7;
  text-indent: -1000px;
  overflow: hidden;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  vertical-align: -5px;
  margin-right: 8px;
}
select {
  background: url(../icons/arrow-down.png) no-repeat right 7px;
  -moz-appearance: none;
  border: 1px solid #c8c8c8;
  height: 22px;
  min-width: 34px;
  padding-right: 20px;
}
select.small {
  width: 68px;
}
select.big {
  width: 120px;
}
.cb-sub-select {
  margin: 10px 0 0 35px;
}
input:disabled {
  opacity: 0.25;
}
input[type="search"] {
  float:right;
  border: 1px solid #c8c8c8;
  color: inherit;
  text-align: center;
  padding: 0;
  height: 22px;
  width: 131px;
  margin-left: 5px;
  transition: width 0.5s;
}
input[type="search"]:focus {
  width: 220px;
}
input[type="color"] {
  padding: 0;
}
input[type="color"] {
  vertical-align: middle;
  width: 36px;
  text-align: center;
}
input[type="text"] {
  border: 1px solid #c8c8c8;
  color: inherit;
  padding: 0;
  height: 22px;
  width: 190px;
  padding: 0 4px;
}
input[type="file"] {
  display: none;
}
/* custom inputs */
input[type="checkbox"],
input[type="radio"] {
  display: none;
}
input[type="radio"] + label span {
  border-radius: 50%;
}
label.fake-cb,
label.fake-rb {
  width: auto;
}
label sup {
  font-size: inherit;
	vertical-align: 0;
}
label.fake-cb:not(.pull-right) sup {
	width: calc(100% - 40px);
	display: inline-block;
	vertical-align: middle;
}
label.pull-right span {
  margin: 0 0 0 8px;
}
label.fake-cb + label {
  width: 188px;
}
input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span {
  text-indent: 0;
}
input[type="number"] {
  width: 35px;
}
/* BUTTONS */
button {
  border: 1px solid #c8c8c8;
  background-image: linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
	background-color: transparent;
  color: #555;
  cursor: pointer;
  font-size: 13px;
  padding: 3px 7px 5px;
  float: left;
	min-height: 22px;
  transition: background 0.5s;
}
button:hover {
  background-image: linear-gradient(rgba(43, 165, 183, .1) 50%, transparent 50%);
  color: #40566b;
}
/* HELPER CLASSES */
.clearfix:after {
	content: "";
	visibility: hidden;
	display: block;
	clear: both;
	height: 0;
}
.none {
  display: none !important;
}
.block {
  display: block !important;
}
.inline-block {
  display: inline-block;
}
.width--full {
	width: 100% !important;
}
.border-top {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.open {
  display: block !important;
  max-height: 1000px !important;
}
.key {
  background: rgb(55, 65, 75);
  color: #fbfbfb;
  font-size: inherit;
  padding: 3px 7px 5px;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
  margin: 8px 8px 0 0;
}
.blue {
	color: #2ba5b7 !important;
}
.red {
  color: #ad3a3a !important;
}
.green {
	color: #3aad74 !important;
}
.light-grey {
	color: #c8c8c8 !important;
}
.bold {
  font-weight: bold;
}
.pull-right {
  float: right;
  margin-right: 0 !important;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none !important;
}
.accordion {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  clear: both;
}
small.ref {
	margin-top: -5px;
	display: block;
	color: #777;
}
.small-button {
  height: 22px;
  width: 22px;
  font-size: 0.8em;
  padding: 3px 5px;
  background-repeat: no-repeat;
  background-position: 5px 5px, 0 0;
  background-size: 13px, 100%;
  margin-left: 5px;
}
.sync-switch {
  margin-right: 10px;
  float: left;
  box-shadow: 0 0 2px #aaa inset;
  width: 44px;
  height: 22px;
  padding: 2px;
  float: left;
  cursor: pointer;
}
.sync-switch:hover {
  box-shadow: 0 0 2px #777 inset;
}
.sync-switch.active {
  box-shadow: 0 0 2px #777 inset;
}
.sync-switch.active:hover {
  box-shadow: 0 0 3px #555 inset;
}
.switch-indicator {
  width: 18px;
  height: 18px;
  background-color: rgb(210, 210, 210);
  background-image: url(../icons/sync.png);
  background-size: 67%;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 22px;
  transition: margin 0.1s;
}
.sync-switch.active .switch-indicator {
  background-color: rgba(43, 165, 183, 0.75);
  margin-left: 0;
}
.sync-switch.active:hover .switch-indicator {
  background-color: #2ba5b7;
}
/* NAVS */
.nav li {
  cursor: default;
}
/* main nav */
#mainnav {
  float: left;
  width: 220px;
  color: #fbfbfb;
  height: 100%;
  padding-top: 127px;
}
#mainnav li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
#mainnav li {
  padding: 14px 20px 20px 37px;
  background-repeat: no-repeat;
  background-position: 12px 16px;
}
#mainnav-news {
  background-image: url(../icons/forklift.png);
}
#mainnav-manual {
  background-image: url(../icons/book.png);
}
#mainnav-settings {
  background-image: url(../icons/tools.png);
}
#mainnav-history {
  background-image: url(../icons/clock.png);
}
#mainnav-data {
  background-image: url(../icons/data.png);
}
#mainnav-contact {
  background-image: url(../icons/ghost.png);
  transition: background 0.5s;
}
#mainnav-logs {
  background-image: url(../icons/dna.png);
}
#mainnav li.active {
  background-color: #2ba5b7;
  background-position: 0 6px;
  color: rgb(55, 65, 75);
	background-image: none;
}
#mainnav li.deactivated {
	color: rgba(255, 255, 255, 0.25);
}
#mainnav li span.icon {
  color: #2ba5b7;
  margin-right: 10px;
}
/* subnavs */
.subnav ul {
  border-bottom: 1px solid rgb(55, 65, 75);
  border-top: 1px solid rgb(55, 65, 75);
}
.subnav li {
  display: inline-block;
  padding: 10px 10px 17px;
}
.subnav li.active {
  border-bottom: 4px solid #2ba5b7;
}
.subnav li.disabled {
  color: #c8c8c8;
}
/* MAIN CONTENT */
#main {
  padding: 20px;
  max-width: 760px;
  width: calc(100% - 220px);
  float: left;
  min-height: 100%;
  box-shadow: 0 0 8px 0px #393939;
  background: #fbfbfb;
}
.content {
  padding-bottom: 20px;
}
.content a {
  color: #2ba5b7;
  text-decoration: underline;
}
.tab {
  padding: 40px 0;
}
.block-spacing {
  padding: 12px 0 21px;
}
.seperator {
  border-top: 1px solid #c8c8c8;
  margin: 20px 0;
}
#main small {
  color: #777;
}
/* SETTINGS */
.option-row {
  margin-top: 10px;
}
.option-row > div {
  display: inline-block;
}
.function {
  width: 190px;
}
.option-row button {
  float: right;
  padding: 0 7px;
}
.option-row button.enable-btn {
  margin-right: 10px;
  background: #49a27b;
}
.option-row button.disable-btn {
  background: #ab7272;
}
/* markers */
#customized-key {
  margin-left: 4px;
}
#shadow-settings > div {
  margin-bottom: 5px;
}
#preview {
  position: relative;
}
#preview button {
	position: absolute;
	right: 0;
	top: -30px;
}
#example {
  padding: 0 5px;
  margin-top: 30px;
	overflow: hidden;
  float: left;
}
#custom-keys div {
	vertical-align: bottom;
}

/* shortcuts */
#overwrite-hint {
  text-indent: -9px;
  display: inline-block;
  margin-left: 9px;
}
#customize-shortcuts--left {
  margin: 0 60px 30px 0;
}
/* history */
#notification {
  margin: 0 3px 0 5px;
}
#custom-name-row {
  display: none;
}
/* misc */
.tmuipos {
  display: none;
}
.misc-cb:checked + label + .tmuipos {
  display: inline;
}
/* HISTORY */
#history a {
  text-decoration: none;
}
#entries {
  margin: 61px -20px 0;
  clear: both;
}
#entry-template {
  display: none;
}
#specification {
  display: none;
}
.entry {
  padding: 8px 20px;
}
.entry:hover {
  border: 1px solid #c8c8c8;
  border-left: 0;
  border-right: 0;
  padding: 7px 20px;
}
.entry input {
  float: right;
}
.details {
	margin-left: 34px;
	width: calc(100% - 130px);
}
.details li {
  list-style-type: none;
  float: left;
  color: #c8c8c8;
  font-size: 0.8em;
  margin-right: 20px;
}
.entry:hover .details li {
  color: #777;
}
.quick-buttons {
  float: right;
  position: relative;
  top: 9px;
}
.quick-buttons button.delete {
  background-image: none, linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
}
.quick-buttons button.delete:hover {
  background-image: none, linear-gradient(rgba(43, 165, 183, .1) 50%, transparent 50%);
  color: rgb(173, 58, 58);
}
.quick-buttons button.download {
  background-image: url(../icons/download.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
  background-position: 4px 4px, 0 0;
}
.quick-buttons button.download:hover {
  background-image: url(../icons/download.png), linear-gradient(rgba(43, 165, 183, .1) 50%, transparent 50%);
}
.page-actions {
  padding: 15px 0 20px;
}
.page-actions select,
.history-actions select {
  height: 27px;
  background-position: right 10px;
}
.page-actions .small-button, .page-actions input,
.history-actions .small-button {
  height: 27px;
}
#search-count {
  font-size: 12px;
  margin: 0 5px 0 15px !important;
  position: relative;
  top: 4px;
}
#search-toggle {
  background-image: url(../icons/search.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
  background-position: 4px 6px, 0 0;
  color: transparent;
}
#search-toggle:hover {
	background-image: url(../icons/search.png), linear-gradient(rgba(43, 165, 183, .1) 50%, transparent 50%);
}
#search-toggle.active {
  color: inherit;
  background-image: none, linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
	padding-top: 2px;
}
#search-toggle.active:hover {
  background-image: none, linear-gradient(rgba(43, 165, 183, .1) 50%, transparent 50%);
}
#sort label {
  width: auto;
  padding-right: 10px;
}
#sort-entries option::before {
  content: '|';
  color: red;
}
.history-actions {
  background: rgba(251, 251, 251, 0.9);
  position: fixed;
  width: calc(100% - 220px);
  max-width: 760px;
  left: 220px;
  padding: 15px 20px;
	z-index: 1;
}
.history-actions select {
  float: left;
  margin-left: 5px;
}
.history-actions button {
  background-image: url(../icons/submit.png), linear-gradient(transparent 50%, rgba(43, 165, 183, .1) 50%);
  background-position: 4px 6px, 0 0;
}
.history-actions button:hover {
  background-image: url(../icons/submit.png), linear-gradient(rgba(43, 165, 183, .1) 50%, transparent 50%);
}
.history-actions .specification {
  display: none;
}
.checkmark-all {
  float: right;
}
.checkmark-all label {
  width: auto;
}
.name {
	cursor: pointer;
  display: inline-block;
  max-width: calc(100% - 160px);
}
.name:hover {
	text-decoration: underline;
}
.entry:hover .name {
  color: #2ba5b7;
}
.nowrap {
  white-space: nowrap;
}
#paginator {
  padding-top: 21px;
  text-align: center;
  -moz-user-select: -moz-none;
}
.searched #paginator {
  display: none;
}
#paginator li {
  position: relative;
  cursor: pointer;
  min-width: 24px;
  height: 22px;
  border: 1px solid #c8c8c8;
  display: inline-block;
  margin: 0 3px 6px;
  padding: 0 3px;
  font-size: 13px;
  vertical-align: bottom;
  text-align: center;
  -moz-user-select: -moz-none;
}
#paginator li.active {
  cursor: default;
  border-color: transparent !important;
}
#paginator .prev,
#paginator .next {
  margin: 0 8px 6px;
}
#paginator .prev:before,
#paginator .next:before {
  content: '';
  background: url(../icons/arrow-down.png) no-repeat 6px 6px;
  width: 22px;
  height: 22px;
  position: absolute;
}
#paginator .prev:before {
	transform: rotate(90deg);
  top: 0;
  left: -2px;
}
#paginator .next:before {
	transform: rotate(-90deg);
  top: -2px;
  left: 1px;
}
#paginator .disabled {
	opacity: 0.5;
	cursor: default;
}
/* EXPORT - IMPORT */
a.export {
	text-decoration: none !important;
}
#export button {
	float: none;
  margin: 0 0 10px;
}
/* CONTACT */
a .at {
  font-size: 22px;
  vertical-align: -2px;
  margin-left: 0px;
  display: inline-block;
  font-family: times;
}
#contact a:hover {
  font-style: italic;
}

/* LOGS */
#logs-table {
  border-collapse: collapse;
}
#logs-table th {
  padding: 3px 5px 15px;
  text-align: left;
  text-transform: uppercase;
}
#logs-table th:first-child {
  width: 180px;
}
#logs-table td {
  padding: 4px 5px 5px;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  font-size: 13px;
}
#logs-table tr:last-child td {
  border: 0;
}

@media only screen and (max-width: 940px) {

  .subnav li {
    margin: -1px 0 0 0;
    padding: 10px 5px 17px;
    float: none;
  }
  .subnav li.active {
    color: #2ba5b7;
    border: 0;
    text-decoration: underline;
  }
  #entries {
    margin: 130px -20px 0;
  }
  #history-actions {
    height: 111px;
  }
  #history-actions select,
  #history-actions button {
    float: none;
    margin-bottom: 5px;
    vertical-align: top;
  }
  #history-actions div.pull-left {
    position: absolute;
    bottom: 20px;
  }
  #history-actions div.pull-right {
    text-align: right;
  }
  #action,
  #specification {
    margin-right: 0;
  }
  #specification.open {
    display: inline-block !important;
  }
  #paginator {
    text-align: left;
  }
  #paginator li {
    margin: 0 6px 6px 0;
  }
  #paginator .prev,
  #paginator .next {
    margin: 0 6px 6px 0;
  }
  #custom-search {
    float: none;
    margin-top: 10px;
    vertical-align: -2px;
  }
}

@media only screen and (max-width: 768px) {

	.toggle-button {
		position: relative;
	}
  input[type="text"] {
    width: 126px;
  }
  #mainnav {
    position: absolute;
    width: 100%;
    height: auto;
    box-shadow: none;
    padding-top: 0;
    z-index: 2;
  }
  .menu-toggler {
    width: 48px;
    height: 48px;
    background: url(../icons/menu-blue.png) no-repeat;
    filter: hue-rotate(331deg) brightness(1.3);
    position: absolute;
    top: 25px;
    left: 21px;
  }
  #mainnav-list {
    display: none;
    background: rgb(55, 65, 75);
    padding-top: 125px;
    width: 100%;
  }
  #main {
    width: 100%;
  }
  .content {
    padding-top: 35px;
  }
  .history-actions {
    width: calc(100% - 17px);
    padding-right: 3px;
    left: 0;
  }
}
