html, body, object, iframe,
div, h1, h2, h3, h4, h5, h6, p,
span, a, abbr, img,
em, small, sub, sup,
dl, dt, dd, ol, ul, li,
fieldset, form, label,
table, caption, tbody, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  line-height: normal;
  vertical-align: baseline;
  color: inherit; }

:focus {
  outline: none; }

::-moz-focus-inner {
  border: 0; }

::-moz-color-swatch {
  border: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: Verdana, Arial, sans-serif;
  color: #37414b;
  cursor: default;
  font-size: 15px; }

.u-color--default {
  color: #37414b !important; }

.u-color--white {
  color: #fbfbfb !important; }

.u-color--grey {
  color: #777 !important; }

.u-color--grey-light {
  color: #c8c8c8 !important; }

.u-color--turquoise {
  color: #2ba5b7 !important; }

.u-color--red {
  color: #ad3a3a !important; }

.u-color--green {
  color: #3aad74 !important; }

.u-size--s5 {
  font-size: 0.6667rem; }

.u-size--s4 {
  font-size: 0.733rem; }

.u-size--s3 {
  font-size: 0.8rem; }

.u-size--s2 {
  font-size: 0.8667rem; }

.u-size--s1 {
  font-size: 0.9333rem; }

.u-size--default {
  font-size: 1rem; }

.u-size--l1 {
  font-size: 1.133rem; }

.u-size--l2 {
  font-size: 1.333rem; }

.u-size--l3 {
  font-size: 1.467rem; }

.u-width--auto {
  width: auto !important; }

.u-font-weight--normal {
  font-weight: normal; }

.u-font-weight--bold {
  font-weight: bold; }

.u-p-tiny {
  padding: 5px !important; }

.u-p-small {
  padding: 10px !important; }

.u-p {
  padding: 15px !important; }

.u-p-large {
  padding: 20px !important; }

.u-p-huge {
  padding: 30px !important; }

.u-p-0 {
  padding: 0 !important; }

.u-pt-tiny {
  padding-top: 5px !important; }

.u-pt-small {
  padding-top: 10px !important; }

.u-pt {
  padding-top: 15px !important; }

.u-pt-large {
  padding-top: 20px !important; }

.u-pt-huge {
  padding-top: 30px !important; }

.u-pt-0 {
  padding-top: 0 !important; }

.u-pr-tiny {
  padding-right: 5px !important; }

.u-pr-small {
  padding-right: 10px !important; }

.u-pr {
  padding-right: 15px !important; }

.u-pr-large {
  padding-right: 20px !important; }

.u-pr-huge {
  padding-right: 30px !important; }

.u-pr-0 {
  padding-right: 0 !important; }

.u-pb-tiny {
  padding-bottom: 5px !important; }

.u-pb-small {
  padding-bottom: 10px !important; }

.u-pb {
  padding-bottom: 15px !important; }

.u-pb-large {
  padding-bottom: 20px !important; }

.u-pb-huge {
  padding-bottom: 30px !important; }

.u-pb-0 {
  padding-bottom: 0 !important; }

.u-pl-tiny {
  padding-left: 5px !important; }

.u-pl-small {
  padding-left: 10px !important; }

.u-pl {
  padding-left: 15px !important; }

.u-pl-large {
  padding-left: 20px !important; }

.u-pl-huge {
  padding-left: 30px !important; }

.u-pl-0 {
  padding-left: 0 !important; }

.u-m-tiny {
  margin: 5px !important; }

.u-m-small {
  margin: 10px !important; }

.u-m {
  margin: 15px !important; }

.u-m-large {
  margin: 20px !important; }

.u-m-huge {
  margin: 30px !important; }

.u-m-0 {
  margin: 0 !important; }

.u-mt-tiny {
  margin-top: 5px !important; }

.u-mt-small {
  margin-top: 10px !important; }

.u-mt {
  margin-top: 15px !important; }

.u-mt-large {
  margin-top: 20px !important; }

.u-mt-huge {
  margin-top: 30px !important; }

.u-mt-0 {
  margin-top: 0 !important; }

.u-mr-tiny {
  margin-right: 5px !important; }

.u-mr-small {
  margin-right: 10px !important; }

.u-mr {
  margin-right: 15px !important; }

.u-mr-large {
  margin-right: 20px !important; }

.u-mr-huge {
  margin-right: 30px !important; }

.u-mr-0 {
  margin-right: 0 !important; }

.u-mb-tiny {
  margin-bottom: 5px !important; }

.u-mb-small {
  margin-bottom: 10px !important; }

.u-mb {
  margin-bottom: 15px !important; }

.u-mb-large {
  margin-bottom: 20px !important; }

.u-mb-huge {
  margin-bottom: 30px !important; }

.u-mb-0 {
  margin-bottom: 0 !important; }

.u-ml-tiny {
  margin-left: 5px !important; }

.u-ml-small {
  margin-left: 10px !important; }

.u-ml {
  margin-left: 15px !important; }

.u-ml-large {
  margin-left: 20px !important; }

.u-ml-huge {
  margin-left: 30px !important; }

.u-ml-0 {
  margin-left: 0 !important; }

.u-cf:after {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
  height: 0; }

.u-clear {
  clear: both; }

.u-float--right {
  float: right; }

.u-float--left {
  float: left; }

.u-float--none {
  float: none !important; }

.u-pull--right {
  float: right;
  margin-right: 0 !important; }

.u-pull--left {
  float: left;
  margin-left: 0 !important; }

.u-display--none {
  display: none !important; }

.u-display--block {
  display: block !important; }

.u-display--inline {
  display: inline; }

.u-display--inline-block {
  display: inline-block; }

.u-overflow--ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.u-align--top {
  vertical-align: top; }

.u-align--middle {
  vertical-align: middle; }

.u-align--bottom {
  vertical-align: bottom; }

button, .btn {
  border: 1px solid #c8c8c8;
  background-image: linear-gradient(transparent 50%, rgba(43, 165, 183, 0.1) 50%);
  background-repeat: no-repeat;
  background-color: transparent;
  color: #777;
  cursor: pointer;
  font-size: 0.8rem;
  font-family: inherit;
  padding: 3px 7px 5px;
  min-height: 22px;
  transition: background 0.5s; }
  button:hover, .btn:hover {
    background-image: linear-gradient(rgba(43, 165, 183, 0.1) 50%, transparent 50%);
    color: #37414b; }

::-moz-placeholder,
:placeholder-shown {
  color: #c8c8c8; }

select, input {
  font-family: inherit !important; }

label {
  width: 224px;
  display: inline-block; }

label span {
  display: inline-block;
  line-height: 1.2;
  height: 22px;
  width: 22px;
  text-align: center;
  color: #2ba5b7;
  text-indent: -1000px;
  overflow: hidden;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
  vertical-align: -5px;
  margin-right: 8px; }

select {
  background-image: url(../../icons/arrow-down.png);
  background-repeat: no-repeat;
  background-position: right 7px, 0 0;
  background-size: unset, 100%;
  background-color: transparent;
  -moz-appearance: none;
  border: 1px solid #c8c8c8;
  height: 22px;
  min-width: 34px;
  padding-right: 20px; }

select.small {
  width: 68px; }

select.big {
  width: 120px; }

.cb-sub-select {
  margin: 10px 0 0 35px; }

input:disabled {
  opacity: 0.25; }

input[type="search"] {
  float: right;
  border: 1px solid #e1e2e3;
  color: inherit;
  text-align: left;
  padding: 0 0 0 5px;
  height: 27px; }

input[type="color"] {
  padding: 0; }

input[type="color"] {
  vertical-align: middle;
  width: 36px;
  text-align: center; }

input[type="text"] {
  border: 1px solid #c8c8c8;
  color: inherit;
  padding: 0;
  height: 22px;
  width: 190px;
  padding: 0 4px; }
  @media only screen and (max-width: 768px) {
    input[type="text"] {
      width: 126px; } }

input[type="file"] {
  display: none; }

/* custom inputs */
input[type="checkbox"],
input[type="radio"] {
  display: none; }

input[type="radio"] + label span {
  border-radius: 50%; }

label.fake-cb,
label.fake-rb {
  width: auto; }

label sup {
  font-size: inherit;
  vertical-align: 0;
  width: calc(100% - 40px); }

label.fake-cb:not(.pull-right) sup {
  display: inline-block;
  vertical-align: middle; }

label.pull-right span {
  margin: 0 0 0 8px; }

label.fake-cb + label {
  width: 188px; }

input[type="checkbox"]:checked + label span,
input[type="radio"]:checked + label span {
  text-indent: 0; }

input[type="number"] {
  width: 35px; }

.switch {
  box-shadow: 0 0 2px #aaa inset; }

.switch.active:hover {
  box-shadow: 0 0 2px #555 inset; }

.switch:hover, .switch.active {
  box-shadow: 0 0 2px #777 inset; }

.switch {
  width: 44px;
  height: 22px;
  padding: 2px;
  cursor: pointer; }
  .switch--sync {
    margin-right: 10px; }
  .switch--save .autosave {
    display: none; }
  .switch span {
    padding: 0 4px; }

.switch__indicator {
  width: 18px;
  height: 18px;
  background-color: #c8c8c8;
  display: inline-block;
  margin-left: 22px;
  transition: margin 0.1s; }
  .switch--sync .switch__indicator {
    background-image: url(../../icons/sync.png);
    background-repeat: no-repeat;
    background-position: center, 0 0;
    background-size: 67%, 100%; }
  .switch--save .switch__indicator {
    background-image: url(../../icons/save2.png);
    background-repeat: no-repeat;
    background-position: center, 0 0;
    background-size: 67%, 100%; }
  .switch.active .switch__indicator {
    background-color: rgba(43, 165, 183, 0.75);
    margin-left: 0; }
  .switch.active:hover .switch__indicator {
    background-color: #2ba5b7; }

.i {
  cursor: pointer;
  color: #2ba5b7;
  text-decoration: underline;
  border-radius: 50%;
  display: inline-block;
  line-height: 1;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 11px;
  padding: 2px;
  font-family: Georgia, serif;
  margin-top: 3px; }
  .i:hover {
    text-decoration: none;
    color: #fff;
    background: #2ba5b7;
    border: 0; }

body, html, body > div {
  height: 100%; }

body {
  background: #37414b; }

p {
  margin-bottom: 1em; }

h1 {
  font-size: 1em;
  font-weight: normal;
  text-align: right;
  margin: 0 -1px 15px 0;
  height: 38px; }
  h1 a {
    color: inherit;
    text-decoration: none; }
    h1 a:hover {
      color: #2ba5b7;
      text-decoration: none; }
  h1 > span {
    display: block;
    font-size: 0.65em;
    color: #c8c8c8; }

h2 {
  font-weight: normal;
  padding: 0 0 27px;
  color: #2ba5b7; }
  h2 span {
    color: #c8c8c8;
    font-size: 0.7em;
    display: block;
    margin-top: 10px; }

h3 {
  font-size: 1.15em;
  font-weight: normal;
  padding: 0 0 20px;
  color: #2ba5b7; }

h4 {
  font-size: 1em;
  font-weight: normal;
  color: #2ba5b7;
  padding: 25px 0 15px; }

ul,
li {
  list-style-type: none; }

ol {
  margin: -5px 0 1em 0; }
  ol li {
    margin-top: 5px; }
    ol li strong.u-color--turquoise {
      font-family: Helvetica, Verdana, Arial, sans-serif; }

.unset li {
  list-style-type: unset;
  margin-left: 20px; }

.width--full {
  width: 100% !important; }

.border-top {
  border-bottom: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important; }

.open {
  display: block !important; }

@media only screen and (max-width: 768px) {
  .toggle-button {
    position: relative; } }

.nowrap {
  white-space: nowrap; }

.nav li {
  cursor: default; }

/* main nav */
#mainnav {
  float: left;
  width: 220px;
  color: #fbfbfb;
  height: 100%;
  padding-top: 127px; }
  @media only screen and (max-width: 768px) {
    #mainnav {
      position: absolute;
      width: 100%;
      height: auto;
      box-shadow: none;
      padding-top: 0;
      z-index: 2; } }

@media only screen and (max-width: 768px) {
  .menu-toggler {
    width: 48px;
    height: 48px;
    background-image: url(../../icons/menu-blue.png);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0;
    background-size: unset, 100%;
    filter: hue-rotate(331deg) brightness(1.3);
    position: absolute;
    top: 25px;
    left: 21px; } }

@media only screen and (max-width: 768px) {
  #mainnav-list {
    display: none;
    background: #37414b;
    padding-top: 125px;
    width: 100%; } }

#mainnav li:hover {
  background-color: rgba(255, 255, 255, 0.1); }

#mainnav li {
  padding: 14px 20px 20px 37px;
  background-repeat: no-repeat;
  background-position: 12px 16px; }

#mainnav-news {
  background-image: url(../../icons/forklift.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav-manual {
  background-image: url(../../icons/book.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav-settings {
  background-image: url(../../icons/tools.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav-history {
  background-image: url(../../icons/clock.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav-sync {
  background-image: url(../../icons/sync2.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav-export {
  background-image: url(../../icons/export.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav-contact {
  background-image: url(../../icons/ghost.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%;
  transition: background 0.5s; }

#mainnav-logs {
  background-image: url(../../icons/dna.png);
  background-repeat: no-repeat;
  background-position: 0 0, 0 0;
  background-size: unset, 100%; }

#mainnav li.active {
  background-color: #2ba5b7;
  background-position: 0 6px;
  color: #37414b;
  background-image: none; }

#mainnav li.deactivated {
  color: rgba(255, 255, 255, 0.25); }

#mainnav li span.icon {
  color: #2ba5b7;
  margin-right: 10px; }

/* subnavs */
.subnav ul {
  border-bottom: 1px solid #37414b;
  border-top: 1px solid #37414b; }

.subnav li {
  display: inline-block;
  padding: 10px 10px 17px; }
  @media only screen and (max-width: 940px) {
    .subnav li {
      margin: -1px 0 0 0;
      padding: 10px 5px 17px;
      float: none; } }

.subnav li.active {
  border-bottom: 4px solid #2ba5b7; }
  @media only screen and (max-width: 940px) {
    .subnav li.active {
      color: #2ba5b7;
      border: 0;
      text-decoration: underline; } }

.subnav li.disabled {
  color: #c8c8c8; }

button--small, .btn--small {
  height: 22px;
  width: 22px;
  padding: 2px 5px;
  background-position: 5px 5px, 0 0;
  background-size: 13px, 100%;
  margin-left: 5px; }

.option-row {
  margin-top: 13px; }
  .option-row button {
    float: right;
    padding: 0 7px; }
  .option-row > div {
    display: inline-block; }

.key {
  background: #37414b;
  color: #fbfbfb;
  font-size: inherit;
  padding: 3px 7px 5px;
  width: 40px;
  height: 40px;
  float: left;
  border-radius: 5px;
  margin: 8px 8px 0 0; }

.accordion {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s;
  clear: both; }
  .accordion.open {
    max-height: 200px; }

/* markers */
#customized-key {
  margin-left: 4px; }

#shadow-settings > div {
  margin-bottom: 5px; }

#preview {
  position: relative; }
  #preview button {
    position: absolute;
    right: 0;
    top: -26px; }

#example {
  padding: 0 5px;
  margin-top: 30px;
  overflow: hidden;
  float: left; }

#custom-keys div {
  vertical-align: bottom; }

/* shortcuts */
#customize-shortcuts table {
  border-collapse: collapse; }
  #customize-shortcuts table td {
    padding: 12px 10px 0 0; }

#customize-shortcuts label {
  width: auto;
  white-space: nowrap; }

#overwrite-hint {
  text-indent: -9px;
  display: inline-block;
  margin-left: 9px; }

#customize-shortcuts--left {
  margin: 0 60px 30px 0; }

/* history */
#notification {
  margin: 0 3px 0 5px; }

#custom-name-row {
  display: none; }

/* misc */
.tmuipos {
  display: none;
  border-color: #e1e2e3; }

.misc-cb:checked + label + .tmuipos {
  display: inline; }

@media only screen and (max-width: 940px) {
  #custom-search {
    float: none;
    margin-top: 10px;
    vertical-align: -2px; } }

#history select {
  margin-bottom: 4px;
  border-color: #e1e2e3;
  color: #2ba5b7;
  height: 27px;
  background-position: right 10px; }

#history input[type="text"] {
  border-color: #e1e2e3;
  height: 27px; }

#entries {
  margin: 7px -20px 0;
  clear: both; }
  #entries.detailed-list {
    margin-top: 23px; }

.entry {
  padding: 8px 20px; }
  .entry input {
    float: right; }
  .entry .name {
    cursor: pointer;
    display: inline-block;
    max-width: calc(100% - 200px);
    padding-right: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    white-space: nowrap;
    top: 4px; }
    .entry .name:hover {
      text-decoration: underline; }
  .entry .view {
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-image: url(../../icons/view.png);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0;
    background-size: 12px, 100%;
    opacity: .5; }
    .entry .view:hover {
      opacity: 1; }
  .entry .locked {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 3px -1px -1px;
    background-image: url(../../icons/lock.png);
    background-repeat: no-repeat;
    background-position: 0 0, 0 0;
    background-size: 12px, 100%; }
  .entry .quick-buttons {
    float: right;
    position: relative;
    top: 3px; }
    .entry .quick-buttons .delete:hover {
      color: #ad3a3a; }
    .entry .quick-buttons .download {
      background-image: url(../../icons/download.png), linear-gradient(transparent 50%, rgba(43, 165, 183, 0.1) 50%);
      background-repeat: no-repeat;
      background-position: 4px 4px, 0 0;
      background-size: unset, 100%; }
      .entry .quick-buttons .download:hover {
        background-image: url(../../icons/download.png), linear-gradient(rgba(43, 165, 183, 0.1) 50%, transparent 50%); }
  .entry .details {
    display: none;
    margin-left: 34px;
    width: calc(100% - 165px);
    color: #c8c8c8; }
    .entry .details .tags {
      margin: 3px 0;
      display: inline-block; }
      .entry .details .tags__item {
        border: 1px solid rgba(43, 165, 183, 0.25);
        border-radius: 2px;
        padding: 0 2px;
        margin-right: 5px; }
        .entry .details .tags__item:hover {
          background: rgba(43, 165, 183, 0.25); }
    .entry .details li {
      list-style-type: none;
      float: left;
      font-size: 0.8em;
      margin-right: 20px; }
  .entry:hover .details {
    color: #777; }
  .entry:hover .name {
    color: #2ba5b7; }
  .detailed-list .entry:hover {
    border: 1px solid #c8c8c8;
    border-left: 0;
    border-right: 0;
    padding: 7px 20px; }
  .detailed-list .entry .details {
    display: block; }
  .detailed-list .entry .quick-buttons {
    top: 9px; }

#page-actions > div {
  padding-bottom: 3px; }

#page-actions select {
  width: 100%; }

#filter.active #filter-entries {
  width: calc(100% - 27px); }

#filter.active #remove-filter {
  display: inline-block; }

#remove-filter {
  border: 0;
  background: none;
  display: none; }

#search {
  position: relative; }

#search-entries {
  width: calc(100% - 27px); }

#search-toggle {
  background-image: url(../../icons/search.png);
  background-repeat: no-repeat;
  background-position: 5px 6px, 0 0;
  background-size: 12px, 100%;
  border: 0;
  color: transparent; }
  #search-toggle.active {
    color: inherit;
    background-image: none;
    padding-top: 2px; }

#search-count {
  position: absolute;
  top: 7px;
  left: -25px;
  font-size: 12px; }

#sort label {
  width: auto;
  padding-right: 10px; }

#history-actions {
  position: relative; }
  #history-actions button {
    background-image: url(../../icons/submit.png);
    background-repeat: no-repeat;
    background-position: 6px 7px, 0 0;
    background-size: 11px, 100%;
    border: 0;
    float: right; }

#action {
  width: calc(100% - 27px) !important; }
  @media only screen and (max-width: 940px) {
    #action {
      margin-right: 0; } }

#specification,
#tag {
  position: absolute;
  top: 0;
  left: 0; }

#tag {
  width: calc(100% - 50px); }

#specification {
  left: calc(-100% - 10px); }
  @media only screen and (max-width: 940px) {
    #specification {
      margin-right: 0; } }
  @media only screen and (max-width: 940px) {
    #specification.open {
      display: inline-block !important; } }

#checkmark-all-container {
  position: relative;
  top: -27px;
  float: left; }

.checkmark-all {
  float: right; }
  .checkmark-all label {
    width: auto; }

#paginator {
  padding-top: 21px;
  text-align: center;
  -moz-user-select: -moz-none; }
  @media only screen and (max-width: 940px) {
    #paginator {
      text-align: left; } }
  .searched #paginator {
    display: none; }
  #paginator li {
    position: relative;
    cursor: pointer;
    min-width: 24px;
    height: 22px;
    border: 1px solid #c8c8c8;
    display: inline-block;
    margin: 0 3px 6px;
    padding: 0 3px;
    font-size: 13px;
    vertical-align: bottom;
    text-align: center;
    -moz-user-select: -moz-none; }
    @media only screen and (max-width: 940px) {
      #paginator li {
        margin: 0 6px 6px 0; } }
    #paginator li.active {
      cursor: default;
      border-color: transparent !important; }
    #paginator li.prev, #paginator li.next {
      margin: 0 8px 6px; }
      @media only screen and (max-width: 940px) {
        #paginator li.prev, #paginator li.next {
          margin: 0 6px 6px 0; } }
      #paginator li.prev:before, #paginator li.next:before {
        content: '';
        background-image: url(../../icons/arrow-down.png);
        background-repeat: no-repeat;
        background-position: 6px 6px, 0 0;
        background-size: unset, 100%;
        width: 22px;
        height: 22px;
        position: absolute; }
    #paginator li.prev:before {
      transform: rotate(90deg);
      top: 0;
      left: -2px; }
    #paginator li.next:before {
      transform: rotate(-90deg);
      top: -2px;
      left: 1px; }
  #paginator .disabled {
    opacity: 0.5;
    cursor: default; }

a.export {
  text-decoration: none !important; }

#export button {
  float: none;
  margin: 0 0 10px; }

a .at {
  font-size: 22px;
  vertical-align: -2px;
  margin-left: 0px;
  display: inline-block;
  font-family: times; }

#contact a:hover {
  font-style: italic; }

.nologs #no-logs {
  display: block !important; }

.nologs #clear-logs {
  display: none; }

.nologs #logs-table {
  display: none; }

#logs-table {
  border-collapse: collapse; }
  #logs-table th {
    padding: 3px 5px 15px;
    text-align: left;
    text-transform: uppercase; }
    #logs-table th:first-child {
      width: 180px; }
  #logs-table td {
    padding: 4px 5px 5px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;
    font-size: 13px; }
    tr:last-child #logs-table td {
      border: 0; }

a, .link {
  color: #2ba5b7;
  text-decoration: none;
  cursor: pointer; }
  a:hover, .link:hover {
    text-decoration: underline; }

/* MAIN CONTENT */
#main {
  padding: 20px;
  max-width: 760px;
  width: calc(100% - 220px);
  float: left;
  min-height: 100%;
  box-shadow: 0 0 8px 0px #37414b;
  background: #fbfbfb; }
  @media only screen and (max-width: 768px) {
    #main {
      width: 100%; } }
  #main small {
    color: #777; }

.content {
  padding-bottom: 20px; }
  .content a {
    color: #2ba5b7;
    text-decoration: underline; }
  @media only screen and (max-width: 768px) {
    .content {
      padding-top: 35px; } }

.tab {
  padding: 40px 0; }

.block-spacing {
  padding: 12px 0 21px; }

.seperator {
  border-top: 1px solid #c8c8c8;
  margin: 20px 0; }
