@keyframes nav {
  0% { padding-left: 37px; }
  20% { padding-left: 12px; }
  100% { padding-left: 37px; }
}

@keyframes navicon {
  from { left: 12px; }
  to { left: -25px; }
}

@keyframes ghost {
  0% { left: 12px; top: 16px; }
  20%, 40% { left: -25px; filter: grayscale(100%); transform: scale(1); }
  90% { left: 12px; top: 12px; transform: scale(1.7); opacity: 1; }
  100% { left: -25px; transform: scale(0); opacity: 0; }
}

.nav li {
  cursor: default;
}
/* main nav */
#mainnav {
  float: left;
  width: 220px;
  color: $color-text--light;
  height: 100%;
  padding-top: 127px;

  @include mq('mobile') {
    position: absolute;
    width: 100%;
    height: auto;
    box-shadow: none;
    padding-top: 0;
    z-index: 2;
  }

  li {
    height: 53px;
    padding: 14px 20px 20px 37px;
    position: relative;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: 16px;
      left: 12px;
    }

    &.active {
      background-color: rgba(43, 165, 183, 0.5);
      background-position: 0 6px;
    	background-image: none;
      animation-name: nav;
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      animation-duration: .5s;
      animation-fill-mode: forwards;
      transition: background-color .5s ease-out;

      &:before {
        animation-name: navicon;
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-duration: .5s;
        animation-fill-mode: forwards;
      }

      &#mainnav-contact {
        &:before {
          animation-name: ghost;
          animation-duration: 1.5s;
        }
      }
    }

    &.deactivated {
    	color: rgba(255, 255, 255, 0.25);
    }

    span.icon {
      color: $color-text--turquoise;
      margin-right: 10px;
    }
  }
}
.menu-toggler {
  @include mq('mobile') {
    width: 48px;
    height: 48px;
    @include icon('menu-blue');
    filter: hue-rotate(331deg) brightness(1.3);
    position: absolute;
    top: 25px;
    left: 21px;
  }
}
#mainnav-list {
  @include mq('mobile') {
    display: none;
    background: $color-bg--dark;
    padding-top: 125px;
    width: 100%;
  }
}
$icons: (
  'news': 'forklift',
  'manual': 'book',
  'settings': 'tools',
  'history': 'clock',
  'sync': 'sync2',
  'export': 'export',
  'contact': 'ghost',
  'troubleshooting': 'debug',
  'logs': 'dna'
);

@each $navitem, $icon in $icons {
  #mainnav-#{$navitem} {
    &:before {
      @include icon(#{$icon});
    }
  }
}

/* subnavs */
.subnav {
  ul {
    border-bottom: 1px solid $color-border--dark;
    border-top: 1px solid $color-border--dark;
  }

  li {
    display: inline-block;
    padding: 10px 10px 17px;

    @include mq('desk') {
      margin: -1px 0 0 0;
      padding: 10px 5px 17px;
      float: none;
    }

    &.active {
      border-bottom: 4px solid $color-turquoise;

      @include mq('desk') {
        color: $color-text--turquoise;
        border: 0;
        text-decoration: underline;
      }
    }

    &.disabled {
      color: $color-text--disabled;
    }
  }
}
