.action-button {
  width: 28px;
  height: 28px;
}

$action-buttons: (
  '#mark-action--delete-highlight' : 'bin',
  '#mark-action--bookmark' : 'bm3',
  '#mark-action--delete-bookmark': 'del-bm',
  '#mark-action--add-note': 'note2',
  '#page-action--save': 'save',
  '#page-action--retry': 'retry',
  '#page-action--undo': 'undo',
  '#page-action--redo': 'redo',
  '#page-action--scroll': 'to-bm',
  '#page-action--notes': 'toggle-notes',
  '#nav-action--up': 'up',
  '#nav-action--down': 'down',

  '.marker__apply': 'highlight'
);

@each $selector, $icon in $action-buttons {
  #{$selector} {
    @include button_icon($icon, $gradient: true);
  }
}

#nav-action--up, #nav-action--down {
  background-size: 12px, 100%;
}
