.link {
  opacity: .5;

  &__icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    top: 2px;
    margin-right: 8px;
  }
  &__text {
    display: inline-block;
  }
  &:hover {
    opacity: 1;
  }
}

$links: (
  'settings': 'tools',
  'history': 'clock',
  'help': 'book',
  'contact': 'ghost'
);

@each $link, $icon in $links {
  .link--#{$link} .link__icon {
    @include icon(#{$icon}, 0 0, 12px);
  }
}
