.marker {
  margin-bottom: 8px;

  &__apply {
    margin: 0 0 0 10px;
  }
  &__label {
    display: inline-block;
  }
  &__text {
    float: right;
    position: relative;
    left: 26px;
    top: 2px;
    color: $color-text--dark;
    font-size: 11px !important;
  }
  &__color {
    padding: 0;
    width: 44px;
    border: 0;
    -moz-appearance: none;
    cursor: pointer;
    float: right;

    &[disabled] {
      opacity: .2;
      cursor: default;
    }
  }
}
