.marker {
  margin-bottom: 8px;
  width: 78px;

  .auto & {
    width: 85px;
  }

  &__cb-box {
    float: right;
    margin: 0 0 0 10px;
    display: none;
    .auto & {
      display: block;
    }
  }

  &__apply {
    margin: 0 0 0 10px;
    .auto & {
      display: none;
    }
  }
  &__label {
    display: inline-block;
  }
  &__text {
    position: relative;
    margin-top: -24px;
    left: 10px;
    color: $color-text--dark;
    font-size: 11px !important;
  }
  &__color {
    padding: 0;
    width: 44px;
    border: 0;
    -moz-appearance: none;
    cursor: pointer;

    &[disabled] {
      opacity: .2;
      cursor: default;
    }
  }
}
