#add-note {
  width: 20px;
  height: 20px;
  font-size: 16px;
  padding: 0;
  position: relative;
  background: $gradient--button;
  color: $color-text--grey;

  &:hover {
    background: $gradient--button-hover;
  }

  span {
    position: absolute;
    top: -1px;
    left: 3px;
  }
}

tmnotesave {
  display: none;
  position: absolute;
  background: #fff;
  bottom: -1px;
  left: 5px;
  border: 1px solid $color-border--light;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  width: auto;
  padding: 0 4px;
  color: $color-text--turquoise;

  tmnote & {
    display: block;
  }
  tmnote.tmnote--min & {
    display: none;
  }
}

tmnote {
  display: block;
  position: relative;
  width: 100%;
  border: 1px solid $color-border--light !important;
  margin-bottom: 4px;

  textarea {
    @extend .__note_textarea;
    padding: 5px 5px 10px;
    width: 100%;
    max-width: 100%;
    margin: 1px 0 0 0;
  }
  &.tmnote--min {
    margin-bottom: 2px;
    border: 0 !important;
    textarea,
    tmnotepalette {
      display: none !important;
    }
    tmnotebuttons {
      display: block !important;
    }
  }
}
tmnotepalette {
  position: absolute;
  display: block;
  background: none !important;
  padding: 7px 3px 0;
  width: auto;
  top: 22px;
  left: 0;
  border: 0 !important;
}
tmnotecolor {
  float: left;
  width: 22px;
  height: 14px;
  margin: 0 2px;
}
tmnotebuttons {
  display: block;
}
tmnotedelete {
  padding-top: 4px;
}
tmnoteminimize {
  font-size: 20px;
}
tmnotecustomize,
tmnoteminimize,
tmnotedelete {
  float: right;
  position: relative;
  height: 18px;
  width: 18px;
  margin: 2px 2px 0 0;
  text-align: center;
}
tmnoteminimize {
  &:before {
    content: '\2012';
    position: absolute;
    top: -1px;
    left: 3px;

    .tmnote--min & {
      content: '\25A1';
      top: -4px;
    }
  }
}
