button {
  border: 1px solid $color-border;
  transition: background 0.5s;
  float: right;
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center, 0 0;
  opacity: 0.75;
}
button:hover {
  opacity: 1;
}
button:last-child {
  margin: 0;
}
